html,body {
	margin: 0;
	padding:0;
	height: 100%;
}

#container {
    min-height:100%;
	height: auto !important;
	height: 100%; /*IE6不识别min-height*/
	position: relative;
}

#head {
    padding: 10px;
}

#content {
    width: 1024px;
	margin: 0 auto;
	padding-bottom: 60px;/*等于footer的高度*/
}

#footer {

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;/*脚部的高度*/
    clear:both;
}

p{text-indent: 2em; 
}

#nav {
width:380px;
margin:0 auto;
}

ul#menubar {
   margin: 0px; 
   padding: 0px; 
}

ul#menubar li {
   list-style-type: none; 
   float: left; 
   margin: 0.3em 0.2em; 
   border: 1px gray solid;
   padding: 0px;
}

ul li a {
   text-decoration: none; 
color: #800000;
}

ul li a:visited {
   color: 
}

td a {
   text-decoration: none; 
color: #800000;
}

td a:visited {
    color:
}

ul#menubar li a {
   text-decoration: none; 
   display: block; 
   padding: 0.3em;
   color: #800000;
}
ul#menubar li a:link {
   color: #800000
   text-decoration: none
}
ul#menubar li a:visited {
   color: 
}
ul#menubar li a:hover {
   background-color: #800000; 
   color: white; 
}

h3.item
{
    border: solid;
    border-width: 0px 0px 0px 10px;
    padding: 5px;
    border-color: #800000;
    font-size: 120% ;
}

.ct {
    list-style-type:
    padding:0;
    margin:0;
}

hr {
	border:none;
	border-top:1px solid #800000;
	height:0;
}


