h4
{
    border: solid;
    border-width: 0px 0px 1px 10px;
    padding: 5px;
    border-color: #000080;
    font-size: 120% ;
}

p{text-indent: 2em;

}


a:visited {
    color: ;
}

a:link {
    text-decoration: none;

}
a {

    text-decoration: none;
    /*display: block;*/
    /*padding: 0.3em;*/
    color: #000000;
}
a:hover {
    color: #800000;
}
/*.href-content  {*/
    /*text-decoration: nono;*/
    /*clear:both;*/
/*}*/


/*.ChineseName {*/
    /*font-family: 楷体, Cambria, Serif, Sans-serif, sans-serif, Verdana, Arial, Helvetica;*/
    /*font-size: 28pt;*/
    /*font-weight: bolder;*/
/*}*/
.EnglishName {
    font-family:'Oregano', cursive, Serif, Sans-serif, sans-serif, Verdana, Arial, Helvetica;
    font-size: 24pt;
    font-weight: bolder;
}


#big {
    width: 850px;
}

hr {
    border: none;
    border-top: 2px solid #bbbbbb;
    height: 0;
}